html {
    font-family: Roboto, sans-serif;
}

body {
    margin: 0;
}

.header,
.hero-section,
.information-section,
.quote-section,
.action-section,
.footer {
    max-width: 900px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    align-items: center;
}

.hero-container,
.footer-container {
    background-color: #1F2937;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.header-links {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 1em;
}

.link,
.hero-secondary {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-section {
    display: flex;
    padding: 50px 0;
    gap: 50px;
}

.hero-section div {
    flex: 1;
}

.hero-image-box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    color: #F9FAF8;
}

h1 {
    margin: 0;
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: bold;
    padding: 4px 24px;
    border: #3882F6;
    border-radius: 5px;
}

h2 {
    text-align: center;
    padding: 10px 0;
}

.card {
    width: 150px;
    margin: 0 20px;
    text-align: center;
}

.card-image-box {
    height: 150px;
    width: 150px;
    border: solid #3882F6 3px;
    border-radius: 15px;
}

.card-container {
    display: flex;
    padding: 0 40px 100px;
    justify-content: center;
}

.quote-container {
    background: #E5E7EB;
    padding: 20px 0;
}

.quote {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    padding: 50px 40px 0;
    margin-bottom: 0;
}

.quote-author {
    padding: 0 150px 50px;
    text-align: right;
    font-size: 24px;
    font-weight: bold;
    margin-top: 0.5em;
}

.action-container {
    padding: 75px;
}

.action-section {
    background-color: #3882F6;
    color: #F9FAF8;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 5px;
}

.action-text {
    padding: 40px 0;
}

.action-text h3, .action-text p{
    margin: 0;
}

.action-button {
    padding: 40px 0;
}

.white-border {
    border: #E5E7EB solid 2px;
}

.footer-container {
    padding: 32px;
}

.footer {
    color: #F9FAF8
}

.footer p {
    margin: 0;
    text-align: center;
}