html{
    font-family: Roboto, sans-serif;
}

body{
    margin:0;
}

.header {
    display: flex;
    justify-content: space-around;
    padding: 1em;
    align-items: center;
}

.header, .hero-section, .footer{
    background-color: #1F2937;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.header-links {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 1em;
}

.link, .hero-secondary{
    font-size: 18px;
    color: #E5E7EB;
}

h1{
    margin:0;
    font-size: 48px; 
    font-weight: extra-bold;
    color: #F9FAF8;
}

.quote-section{
    background: #E5E7EB;
}

.quote {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
}